@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", sans-serif;
  background-color: var(--color-neutral-950);
  scroll-behavior: smooth;
  min-height: 100vh;
}

#home, #about, #projects, #contact {
  background-color: var(--color-neutral-950);
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.5rem;
}


.title-gradient {
  @apply bg-gradient-to-r from-purple-400 via-indigo-500 to-pink-400 sm:shadow-xl sm:py-6 sm:px-20 rounded-full shadow-violet-500/70 
  text-7xl sm:text-6xl md:text-8xl lg:text-8xl font-bold mb-10 bg-clip-text text-transparent text-center hover:-translate-y-2 transition ease-in-out;
}

@media (max-width: 768px) {
  .title-gradient {
    @apply py-4 px-20;
  }
}

@media (max-width: 480px) {
  .title-gradient {
    @apply py-6 px-10;
  }
}


@layer utilities {
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 2s ease infinite;
    width: 80%; 
    min-width: 50px; 
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease-in-out, transform 0.3s ease-in-out;
  background-color: inherit;
}

.reveal.sectionVisible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

footer {
  margin-top: auto;
  background-color: #1f212a;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  width: 99vw;
}

footer p {
  color: #c2b8b8;
  font-size: 14px;
  text-align: center;
}

#link {
  text-decoration: underline;
  color: inherit;
}

#about {
  scroll-margin-top: 100px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 800px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
}
