@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", sans-serif;
  background: var(--color-neutral-950);
  scroll-behavior: smooth;
}

#home, #about, #projects, #contact {
  background-color: var(--color-neutral-950);
}

.title-gradient {
  @apply bg-linear-to-r from-purple-400 via-indigo-500 to-pink-400 shadow-xl py-6 px-20 rounded-full shadow-violet-600/50
  text-7xl font-bold mb-10 bg-clip-text text-transparent text-center hover:-translate-y-2 transition ease-in-out;
}


@layer utilities {
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

.animate-blink {
  animation: blink 0.8s step-end infinite;
}

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }

  
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease-in-out, transform 0.1s ease-in-out;
  background-color: inherit;
}

.reveal.sectionVisible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

footer p {
  margin-top: auto;
  color:#c2b8b8;
  background-color: #1f212a;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  text-align: center;
}

#link {
  text-decoration: underline;
}

#about {
  scroll-margin-top: 150px;
}